<%- contentFor('pageHeaders') %>
<link rel="stylesheet" href="/book_stay.css">
<title>Confirme seu aluguel</title>

<%- contentFor('body') %>
  <div id="book-stay-row">
    <div id="stay-information-and-login">
      <div id="stay-information">
        <div id="stay-title">
          <h2>Pedir para reservar</h2>
        </div>
        <div id="stay-resume">
          <div class="mt-1"><%= book_stay.room.name %></div>
          <div class="mt-1"><%= book_stay.start_date %> - <%= book_stay.end_date %></div>
          <div class="mt-1"><%= book_stay.room.num_Guests %> Hóspedes</div>
        </div>
      </div>
      <div id="login">
        <div>
            Já tem Login? <a href="/guest/login">Faça login</a>
        </div>
        <div class="mt-1">
          Ou
        </div>
        <div class="row mt-1">
            <a href="/guest/register">Cadastro</a>
        </div>
      </div>
    </div>
    <div id="house-information">
      <div class="p-1">
        <div id="house-picture-and-name">
          <div id="house-picture">
            <img src="<%= book_stay.room.photo %>" alt="casa">          
          </div>
          <div><%= book_stay.room.name %></div>
        </div>
        <hr>
        <h3>Preço</h3>
        <div class="precos">
          <div>
            <div>
              R$ <%= book_stay.price.per_night %>,00 x <%= book_stay.price.nights %> noites
            </div>
            <div>
              Taxa de limpeza
            </div>
            <div>
              Taxa de serviço
            </div>
          </div>
          <div>
            <div>R$ <%= book_stay.price.per_night*book_stay.price.nights %></div>
            <div>R$ <%= book_stay.price.clean_tax %>,00</div>
            <div>R$ <%= book_stay.price.service_tax %>,00</div>
          </div>
        </div>
        <hr>
        <div class="precos">
          <div>
            Total
          </div>
          <div>
            R$ <%= (book_stay.price.per_night*book_stay.price.nights)+book_stay.price.clean_tax+ book_stay.price.service_tax %>,00
          </div>
        </div>
      </div>
    </div>
  </div>
