
<%- contentFor('pageHeaders') %>
<link rel="stylesheet" href="/book_stay.css">
<title>Confirme seu aluguel</title>

<%- contentFor('body') %>
  <div id="book-stay-row">
    <div id="stay-information-and-login">
      <div id="stay-information">
        <div id="stay-title">
          <h2>Pedir para reservar</h2>
        </div>
        <div id="stay-resume">
          <div class="mt-1"><%= room.name %></div>
          <div class="mt-1"><%= start_date %> - <%= end_date %></div>
          <div class="mt-1"><%= total_guests %> Hóspedes</div>
        </div>
      </div>
      <div id="login">
        <div>
          <% if (locals.guestSignedIn == true) { %>
            <button type="submit">Confirmar</button>
            <%} else { %>
              Já tem Login? <a href="/guest/login">Faça login</a>
              <div class="mt-1">
                Ou
              </div>
              <div class="row mt-1">
                  <a href="/guest/register">Cadastro</a>
              </div>
            <% } %>
        </div>
        
      </div>
    </div>
    <div id="house-information">
      <div class="p-1">
        <div id="house-picture-and-name">
          <div id="house-picture">
            <img src="data:image/png;base64, <%= room.photos[0].toString('base64') %>" alt="casa">          
          </div>
          <div><%= room.name %></div>
        </div>
        <hr>
        <h3>Preço</h3>
        <div class="precos">
          <div>
            <div>
              R$ <%= room.pricePerNight %>,00 x <%= room.numNights %> noites
            </div>
            <div>
              Taxa de limpeza
            </div>
            <div>
              Taxa de serviço
            </div>
          </div>
          <div>
            <div>R$ <%= total_value %></div>
            <div>R$ 100,00</div>
            <div>R$ 10,00</div>
          </div>
        </div>
        <hr>
        <div class="precos">
          <div>
            Total
          </div>
          <div>
            R$ <%= total_value+110 %>
          </div>
        </div>
      </div>
    </div>
  </div>
