<%- contentFor('pageHeaders') %>
<link rel="stylesheet" href="/guest/stays/view.css">
<title>Ver Minha Estadia</title>

<%- contentFor('body') %>
<div class="wrapper">
  <h3>Sua estadia em <%= stay.room.name %></h3>
  <img src="data:image/png;base64, <%= stay.room.photos[0].toString('base64') %>" alt="room photo">
  <p>
    <%= stay.room.address %>
    <br>
    Data: <%= stay.start_date.toLocaleDateString() %> até <%= stay.end_date.toLocaleDateString() %>
  </p>
  <% if (stay.comment) { %>
    <form>
      <div class=form>
        <div class="estrelas">
          <% [1,2,3,4,5].forEach(star => { %>
            <span class="fa fa-star <%= star <= stay.comment.rating ? 'checked' : '' %>"></span>
          <% }) %>
        </div>
        <p><%= stay.comment.content %></p>
      </div>
    </form>
  <% } else { %>
    <form action="/guest/stays/rate" method="post">
      <input type="hidden" name="stay_id" value="<%= stay._id %>">
      <input type="hidden" name="rating" value="0">
      <div class="estrelas">
        <% [1,2,3,4,5].forEach(star => { %>
          <span class="fa fa-star" onclick="updateStars('<%= star %>')"></span>
        <% }) %>
      </div>
      <textarea name="content" cols="30" rows="10" placeholder="Digite o que achou"></textarea>
      <button type="submit">Avaliar</button>
    </form>
  <% } %>
</div>
