<%- contentFor('pageHeaders') %>
<title><%= room.name %></title>
<link rel="stylesheet" href="../room.css">


<%- contentFor('body') %>
  <div class="wrapper">
    <h2><%= room.name %></h2>
    <p><%= room.address %></p>
    <div class="gallery">
      <div class="main">
        <img src="<%= room.main_photo %>" alt="Sala de estar 1">
      </div>
      <div class="others">
        <% room.photos?.forEach(photo => { %>
          <div>
            <img src="<%= photo %>" alt="Quarto 1" />
          </div>
        <% }) %>
      </div>
    </div>
    <div class="description">
      <ul>
        <li><%= room.maxGuests %> hóspedes</li>
        <li><%= room.totalRooms %> quartos</li>
        <li><%= room.totalBeds %> camas</li>
        <li><%= room.totalBathrooms %> banheiros</li>
        <% if(room.hasWifi) { %>
          <li>WI-FI</li>
        <% } %>
      </ul>
    </div>
    <hr>
    <div class="rent">
      <h3>R$ <%= room.pricePerNight %>/noite</h3>
      <form>
        <div class="form-input">
          <label for="counter">Nº Hóspedes</label>
          <input type="number" name="counter" id="counter">
        </div>
        <div class="form-input">
          <label for="checkin">Check-in</label>
          <input type="date" name="checkin" id="checkin">
        </div>
        <div class="form-input">
          <label for="checkout">Check-out</label>
          <input type="date" name="checkout" id="checkout">
        </div>
        <button type="submit">Fazer reserva</button>
      </form>
    </div>
    <hr>
    <h3>Avaliações (<%= room.reviewMean %> ⭐)</h3>
    <div class="comments">
      <% room.comments?.forEach(comment => { %>
        <div class="comment">
          <div class="header">
            <div class="picture">
              <img src="<%= comment.guest.photo %>" alt="Cliente 1"/>
            </div>
            <div class="info">
              <div><%= comment.guest.name %></div>
              <div><%= comment.stay.date %></div>
            </div>
          </div>
          <div class="text">
            <%= comment.body %>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
