<%- contentFor('pageHeaders') %>
<title><%= room.name %></title>
<link rel="stylesheet" href="/room.css">


<%- contentFor('body') %>
  <div class="wrapper">
    <h2><%= room.name %></h2>
    <p><%= room.address %></p>
    <div class="gallery">
      <div class="main">
        <% if (room.photos[0]) { %>
          <img src="data:image/png;base64, <%= room.photos[0].toString('base64') %>" alt="Sala de estar 1">
        <% } else { %>
          <img src="/sem-imagem.png" alt="imóvel sem imagem" class="house-pic">
        <% } %>
      </div>
      <div class="others">
        <% room.photos.slice(1).forEach((photo, index) => { %>
          <div>
            <img src="data:image/png;base64, <%= photo.toString('base64') %>" alt="Foto acomodação" />
          </div>
        <% }) %>
      </div>
    </div>
    <div class="description">
      <ul>
        <li><%= room.maxGuests %> hóspedes</li>
        <li><%= room.totalRooms %> quartos</li>
        <li><%= room.totalBeds %> camas</li>
        <li><%= room.totalBathrooms %> banheiros</li>
        <% if(room.hasWifi) { %>
          <li>WI-FI</li>
        <% } %>
      </ul>
    </div>
    <hr>
    <div class="rent">
      <h3>R$ <%= room.pricePerNight %>/noite</h3>
      <form action="/rooms/<%= room._id %>/stay" method="get">
        <div class="form-input">
          <label for="total_guests">Nº Hóspedes</label>
          <input type="number" name="total_guests" id="counter">
        </div>
        <div class="form-input">
          <label for="start_date">Check-in</label>
          <input type="date" name="start_date" id="checkin">
        </div>
        <div class="form-input">
          <label for="end_date">Check-out</label>
          <input type="date" name="end_date" id="checkout">
        </div>
        <button type="submit">Fazer reserva</button>
      </form>
    </div>
    <hr>
    <h3>Avaliações (<%= room.reviewMean %> ⭐)</h3>
    <% if (room.comments.length === 0) { %>
      <p> Não há avaliações </p>
    <% } %>
    <div class="comments">
      <% room.comments?.forEach(comment => { %>
        <div class="comment">
          <div class="header">
            <div class="picture">
              <img src="<%= comment.guest.photo %>" alt="Cliente 1"/>
            </div>
            <div class="info">
              <div><%= comment.guest.name %></div>
            </div>
          </div>
          <div class="text">
            <%= comment.content %>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
