
<%- contentFor('pageHeaders') %>
<link rel="stylesheet" href="../host_profile.css">
<title>Perfil - <%= host.name %></title>

<%- contentFor('body') %>
<section>
  <div class="row">
    <div class="card" id="profile-card">
      <div class="row">
        <div class="fill">
          <img src="<%= host.photo %>" alt="foto do anfitrião" />
        </div>
      </div>
      <div class="row mt-1">
        <%= host.name %>
      </div>
      <div class="row">
        <%= host.reviewMean %> estrelas
      </div>
      <div class="row">
        <%= host.commentAmount %> comentários
      </div>
      <div class="row mt-2">
        De <%= host.address %>
      </div>
    </div>
    <div id="house-list-card" class="card">
      <h2>Disponíveis</h2>
      <div class="row">
        <% if (rooms) { %>
          <% rooms.forEach(room=> { %>
            <div class="house-item-card card">
              <div class="row">
                <img src="<%= room.photo %>" alt="gato" class="house-pic">
              </div>
              <div class="left-row mt-1">
                <%= room.reviewMean %> estrelas
              </div>
              <div class="left-row">
                <%= room.name %>
              </div>
            </div>
          <% }) %>
        <% } else { %>
          Nenhum quarto disponível
        <% } %>
      </div>
      <% if (host?.rooms) { %>
        <div class="row mt-1">
          <button>Carregar mais</button>
        </div>
      <% } %>
    </div>
  </div>
</section>
<section>
  <div id="comments-row">
    <div id="comments-box" class="card">
      <h2>Comentários</h2>
      <% if (host?.comments) { %>
        <% host.comments.forEach(comment=> { %>
          <div class="comment-card card">
            <div class="guest-info">
              <div class="guest-icon">
                <img src="<%= comment.guest.photo %>" alt="ícone" class="guest-icon-image">
              </div>
              <div class="stay-and-guest-info">
                <div class="guest-name">
                  <%= comment.guest.name %>, <%= comment.review %> estrelas
                </div>
                <div class="guest-stay">Ficou em <%= comment.stay.date %>
                </div>
              </div>
            </div>
            <div class="comment-text">
              <%= comment.body %>
            </div>
          </div>
          <% }) %>
        <% } else { %>
          Nenhum comentário disponível
        <% } %>
        <% if (host?.comments) { %>
          <div class="row mt-1">
            <button>Carregar mais</button>
          </div>
        <% } %>
    </div>
  </div>
</section>
