<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <title>Perfil</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../host_profile.css">
  <link rel="stylesheet" href="../styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
</head>

<body>
  <header class="navbar">
    <div class="navbar-inner">
      <h1 class="nav-logo">
        <a href="" class="logo-link">
          <img src="../logo_alugaste.jpg" alt="Dois telhados">
        </a>
      </h1>
      <label for="navbar-toggler" class="navbar-toggler">
        <i class="fas fa-bars"></i>
      </label>
      <input type="checkbox" id="navbar-toggler" class="navbar-toggler-check">
      <nav class="navbar-menu">
        <a href="" class="navbar-link">Pesquisar</a>
        <a href="" class="navbar-link">Seja um anfitrião</a>
        <a href="" class="navbar-link">Entrar</a>
        <a href="" class="navbar-link">Cadastre-se</a>
      </nav>
    </div>
  </header>
  <section>
    <div class="row">
      <div class="card" id="profile-card">
        <div class="row">
          <div class="fill">
            <img
              src="<%= host.photo %>"
              alt="foto do anfitrião" />
          </div>
        </div>
        <div class="row mt-1">
          <%= host.name %>
        </div>
        <div class="row">
          <%= host.reviewMean %> estrelas
        </div>
        <div class="row">
          <%= host.commentAmount %> comentários
        </div>
        <div class="row mt-2">
          De <%= host.address %>
        </div>
      </div>
      <div id="house-list-card" class="card">
        <h2>Disponíveis</h2>
        <div class="row">
          <div class="house-item-card card">
            <div class="row">
              <img src="https://a0.muscache.com/im/pictures/2de2fb4c-50b2-4771-979e-4980153f92d8.jpg" alt="gato"
                class="house-pic">
            </div>
            <div class="left-row mt-1">
              4.7 estrelas
            </div>
            <div class="left-row">
              Flat em João Pessoa
            </div>
          </div>
          <div class="house-item-card card">
            <div class="row">
              <img src="https://a0.muscache.com/im/pictures/2de2fb4c-50b2-4771-979e-4980153f92d8.jpg" alt="gato"
                class="house-pic">
            </div>
            <div class="left-row mt-1">
              4.7 estrelas
            </div>
            <div class="left-row">
              Flat em João Pessoa
            </div>
          </div>
          <div class="house-item-card card">
            <div class="row">
              <img src="https://a0.muscache.com/im/pictures/2de2fb4c-50b2-4771-979e-4980153f92d8.jpg" alt="gato"
                class="house-pic">
            </div>
            <div class="left-row mt-1">
              4.7 estrelas
            </div>
            <div class="left-row">
              Flat em João Pessoa
            </div>
          </div>
        </div>
        <div class="row">
          <div class="house-item-card card">
            <div class="row">
              <img src="https://a0.muscache.com/im/pictures/2de2fb4c-50b2-4771-979e-4980153f92d8.jpg" alt="gato"
                class="house-pic">
            </div>
            <div class="left-row mt-1">
              4.7 estrelas
            </div>
            <div class="left-row">
              Flat em João Pessoa
            </div>
          </div>
          <div class="house-item-card card">
            <div class="row">
              <img src="https://a0.muscache.com/im/pictures/2de2fb4c-50b2-4771-979e-4980153f92d8.jpg" alt="gato"
                class="house-pic">
            </div>
            <div class="left-row mt-1">
              4.7 estrelas
            </div>
            <div class="left-row">
              Flat em João Pessoa
            </div>
          </div>
          <div class="house-item-card card">
            <div class="row">
              <img src="https://a0.muscache.com/im/pictures/2de2fb4c-50b2-4771-979e-4980153f92d8.jpg" alt="gato"
                class="house-pic">
            </div>
            <div class="left-row mt-1">
              4.7 estrelas
            </div>
            <div class="left-row">
              Flat em João Pessoa
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <button>Carregar mais</button>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div id="comments-row">
      <div id="comments-box" class="card">
        <h2>Comentários</h2>
        <div class="comment-card card">
          <div class="guest-info">
            <div class="guest-icon">
              <img src="https://static01.nyt.com/images/2019/11/17/books/review/17Salam/Salam1-superJumbo.jpg"
                alt="gato" class="guest-icon-image">
            </div>
            <div class="stay-and-guest-info">
              <div class="guest-name">Magda Joer, 4.8 estrelas</div>
              <div class="guest-stay">Ficou em Flat em Julho de 2021</div>
            </div>
          </div>
          <div class="comment-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo, magna sed luctus
            ullamcorper, nunc.
          </div>
        </div>
        <div class="comment-card card">
          <div class="guest-info">
            <div class="guest-icon">
              <img
                src="https://images.unsplash.com/photo-1611432579402-7037e3e2c1e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29ycG9yYXRlJTIwd29tYW58ZW58MHx8MHx8&w=1000&q=80"
                alt="gato" class="guest-icon-image">
            </div>
            <div class="stay-and-guest-info">
              <div class="guest-name">Magnólia Lopes, 4.8 estrelas</div>
              <div class="guest-stay">Ficou em Flat em Julho de 2021</div>
            </div>
          </div>
          <div class="comment-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo, magna sed luctus
            ullamcorper, nunc.
          </div>
        </div>
        <div class="row mt-1">
          <button>Carregar mais</button>
        </div>

      </div>
    </div>
  </section>
</body>
