<%- contentFor('pageHeaders') %>
<link rel="stylesheet" href="room_list.css">
<title>Lista de imóveis</title>

<%- contentFor('body') %>
<section>
  <div class="container">
    <h1>Imóveis</h1>
    <div class="search">
      <input type="search" name="search" id="search" placeholder="Pesquisar">
      <button type="submit">Buscar</button>
    </div>
    <div class="container-imoveis">
      <% rooms.forEach(room => { %>
        <div class="imovel card">
          <div class="img-imovel">
            <img
              src="<%= room.photo %>"
              alt="">
          </div>
          <div class="info-imovel">
            <h3><%= room.name %> (<%= room.reviewMean %>⭐)</h3>
            <h4><%= room.address %></h4>
            <h4><%= room.maxGuests %> hospedes</h4>
          </div>
        </div>
      <% }) %>
    </div>
    <br>
    <button type="button">Carregar mais</button>
  </div>
</section>
